/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
ul,
p,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  margin: 0;
  background-color: black; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #f2f2f2; }

@font-face {
  font-family: Avenir;
  src: url(/css/fonts/avenir.otf); }

.container {
  max-width: 1400px;
  margin: 0 auto; }

nav {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.34);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 60px;
  font-size: 16px;
  font-family: "Avenir";
  margin-right: 60px; }

nav p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-family: "Avenir";
  margin-left: 30px;
  color: white;
  max-width: 700px; }

nav ul {
  max-width: 700px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

nav ul li {
  font-size: 16px;
  font-family: "Avenir";
  margin-right: 30px; }

nav ul li:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

#homepage p {
  line-height: 24px; }

#intro {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.35))), url("/imgs/bg-bay.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.35)), url("/imgs/bg-bay.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.35)), url("/imgs/bg-bay.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.35)), url("/imgs/bg-bay.jpg");
  background-size: cover;
  background-position: center, center;
  height: 100vh;
  min-height: 700px; }
  #intro .bio {
    padding: 30px;
    padding-top: 150px;
    max-width: 800px;
    color: white;
    font-family: "Avenir";
    text-align: center; }
    #intro .bio h1 {
      font-family: 'Cormorant Unicase', serif;
      font-size: 72px; }
    #intro .bio h2 {
      font-size: 28px;
      font-weight: 400;
      line-height: 28px; }
    #intro .bio li {
      margin-bottom: 10px; }
    #intro .bio .interests {
      display: inline-block;
      text-align: right;
      margin-left: 40px; }
    #intro .bio .capacities {
      display: inline-block;
      text-align: left;
      margin-left: 40px; }
    #intro .bio .footnote {
      margin-top: 40px; }
      #intro .bio .footnote p {
        margin-bottom: 15px; }

@media screen and (max-width: 540px) {
  #intro {
    height: 700px; }
    #intro .bio {
      padding-top: 100px; }
      #intro .bio h1 {
        font-size: 36px; }
      #intro .bio h2 {
        font-size: 20px; }
      #intro .bio .interests,
      #intro .bio .capacities {
        text-align: center;
        margin: 0 30px; } }

#manifesto {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.85))), url("/imgs/bg-sf.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.85)), url("/imgs/bg-sf.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.85)), url("/imgs/bg-sf.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.85)), url("/imgs/bg-sf.jpg");
  background-size: cover;
  background-position: center, center;
  min-height: 750px;
  font-family: 'Cormorant Garamond', serif;
  color: white; }
  #manifesto .list {
    padding: 100px 30px 0;
    max-width: 450px;
    margin: 0 auto;
    text-align: center; }
    #manifesto .list h2 {
      display: inline-block;
      font-size: 36px;
      padding-bottom: 15px;
      border-bottom: 1px solid white; }
    #manifesto .list ol {
      text-align: left; }
    #manifesto .list li {
      font-size: 24px;
      margin-bottom: 10px;
      padding-left: 15px; }

@media screen and (max-width: 540px) {
  #manifesto .list {
    padding-top: 50px; } }

#contact {
  padding-top: 120px;
  min-height: 300px;
  background-color: black;
  color: white;
  font-family: 'Avenir', serif; }
  #contact .left, #contact .right {
    display: inline-block;
    width: 35%;
    vertical-align: middle; }
  #contact .left {
    text-align: right;
    padding-right: 100px; }
    #contact .left h2 {
      font-size: 36px;
      margin: 0; }
  #contact .right li {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px; }

@media screen and (max-width: 540px) {
  #contact .left, #contact .right {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center; }
    #contact .left h2, #contact .right h2 {
      margin-bottom: 30px; } }
