/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
ul, p,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  margin: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #f2f2f2; }

@font-face {
  font-family: Avenir;
  src: url(/css/fonts/avenir.otf); }

nav {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.34);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 60px;
  font-size: 16px;
  font-family: "Avenir";
  margin-right: 60px; }

nav p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-family: "Avenir";
  margin-left: 30px;
  color: white;
  max-width: 700px; }

nav ul {
  max-width: 700px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

nav ul li {
  font-size: 16px;
  font-family: "Avenir";
  margin-right: 30px; }

nav ul li:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

#homepage p {
  line-height: 24px; }

#intro {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(transparent)), url("/imgs/bg-christine.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), transparent), url("/imgs/bg-christine.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.25), transparent), url("/imgs/bg-christine.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25), transparent), url("/imgs/bg-christine.jpg");
  background-size: cover;
  background-position: center, center;
  height: 100vh;
  min-height: 850px; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

.bio {
  padding: 30px;
  padding-top: 200px;
  max-width: 800px;
  color: white;
  font-family: "Avenir";
  text-align: center; }
  .bio h1 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 72px; }
  .bio h2 {
    font-weight: 400; }
  .bio li {
    margin-bottom: 5px; }
  .bio .interests {
    display: inline-block;
    text-align: right;
    margin-left: 40px; }
  .bio .capacities {
    display: inline-block;
    text-align: left;
    margin-left: 40px; }
  .bio .footnote {
    margin-top: 40px; }
    .bio .footnote p {
      margin-bottom: 15px; }

@media screen and (max-width: 540px) {
  .bio {
    padding-top: 100px; }
    .bio .interests, .bio .capacities {
      text-align: center;
      margin: 0 30px; } }
